@import url("https://fonts.googleapis.com/css?family=East+Sea+Dokdo|PT+Sans:400,700|Raleway:100,300,400,600,700,800&display=swap&subset=cyrillic");
@import url("../fonts/fontawesome-webfont.eot");
@font-face {
  font-family: 'east-sea-dokdo-cyrillic';
  src: url("../fonts/east-sea-dokdo-cyrillic/east-sea-dokdo-cyrillic.otf");
  src: url("../fonts/east-sea-dokdo-cyrillic/east-sea-dokdo-cyrillic.otf?#iefix") format("embedded-opentype"), url("../fonts/east-sea-dokdo-cyrillic/east-sea-dokdo-cyrillic-webfont.woff2") format("woff2"), url("../fonts/east-sea-dokdo-cyrillic/east-sea-dokdo-cyrillic-webfont.woff") format("woff"), url("../fonts/east-sea-dokdo-cyrillic/east-sea-dokdo-cyrillic.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* line 12, main.scss */
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* line 59, main.scss */
img {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 65, main.scss */
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0; }

/* line 75, main.scss */
article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* line 89, main.scss */
table {
  border-collapse: separate; }

/* line 92, main.scss */
caption,
th,
td {
  font-weight: normal;
  float: none !important; }

/* line 98, main.scss */
table,
th,
td {
  vertical-align: middle; }

/* line 103, main.scss */
.tdtop {
  vertical-align: top !important; }

/* line 106, main.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

/* line 112, main.scss */
blockquote,
q {
  quotes: "" ""; }

/* line 116, main.scss */
a img {
  border: none; }

/* line 119, main.scss */
:focus {
  outline: 0; }

/* line 122, main.scss */
body {
  font-size: 62.5% !important;
  color: #0d0d0d;
  background: url("../img/bg_hea.png");
  font-family: 'Raleway', sans-serif; }

/* line 128, main.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #161616; }

/* line 137, main.scss */
h1 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 0px;
  color: #0c6bb6;
  font-family: 'Raleway', sans-serif;
  padding-top: 15px; }

/* line 145, main.scss */
h2 {
  font-size: 44px;
  color: #ffd500;
  font-weight: bold; }

/* line 150, main.scss */
h3 {
  font-size: 44px;
  font-weight: bold; }

/* line 154, main.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 159, main.scss */
h5 {
  font-size: 1em;
  margin-bottom: 1.5em; }

/* line 163, main.scss */
h6 {
  font-size: 1em; }

/* line 166, main.scss */
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0; }

/* line 174, main.scss */
p {
  font-weight: lighter !important;
  font-size: 1.4em; }

/* line 178, main.scss */
a:focus,
a:hover {
  text-decoration: none; }

/* line 182, main.scss */
a {
  text-decoration: underline;
  color: #5394ff; }

/* line 186, main.scss */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 190, main.scss */
pre,
code,
tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 196, main.scss */
li ul,
li ol {
  margin: 0; }

/* line 200, main.scss */
ul,
ol {
  margin: 0; }

/* line 204, main.scss */
ul {
  list-style-type: disc; }

/* line 207, main.scss */
ol {
  list-style-type: decimal; }

/* line 210, main.scss */
dl {
  margin: 0 0 1.5em 0; }

/* line 213, main.scss */
dl dt {
  font-weight: bold; }

/* line 216, main.scss */
dd {
  margin-left: 1.5em; }

/* line 223, main.scss */
.top_block {
  margin-bottom: 15px; }

/* line 227, main.scss */
.top_block .top_block__logo {
  margin: 5px 0 10px -30px;
  text-align: center; }

/* line 231, main.scss */
.top_block .top_block__logo img {
  height: auto;
  width: 359px; }

/* line 235, main.scss */
.top_block .top_block__slogon {
  color: #ff914d;
  font-size: 2.7em;
  font-family: 'east-sea-dokdo-cyrillic'; }

/* line 241, main.scss */
.top_block .top_block__slogon--1 {
  margin-top: 55px; }

/* line 245, main.scss */
.top_block .top_block__slogon--2 {
  text-align: right;
  margin-right: -15px; }

/* line 250, main.scss */
.top_block .top_block__tel {
  color: #030303;
  font-size: 3.6em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 45px; }

/* line 259, main.scss */
.top_block .top_block__vamperez {
  margin-top: -5px;
  color: #030303;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2.7em;
  text-align: center;
  cursor: pointer;
  margin-right: 14px; }

/* line 270, main.scss */
.top_block .top_block__vamperez span {
  border-bottom: 2px dotted #030303; }

@media only screen and (max-width: 1200px) {
  /* line 275, main.scss */
  .top_block .top_block__logo img {
    height: auto;
    width: 90%; }

  /* line 280, main.scss */
  .top_block .top_block__slogon {
    font-size: 2em; }

  /* line 284, main.scss */
  .top_block .top_block__slogon--1 {
    margin-top: 45px; }

  /* line 288, main.scss */
  .top_block .top_block__slogon--2 {
    margin-right: 0px; }

  /* line 292, main.scss */
  .top_block .top_block__tel {
    font-size: 2.6em;
    text-align: right;
    margin-top: 35px; }

  /* line 298, main.scss */
  .top_block .top_block__vamperez {
    margin-top: -5px;
    font-size: 2em; } }
@media only screen and (max-width: 992px) {
  /* line 304, main.scss */
  .top_block .top_block__logo img {
    width: 100%;
    margin-left: 6%; }

  /* line 309, main.scss */
  .top_block .top_block__slogon {
    font-size: 1.6em; }

  /* line 313, main.scss */
  .top_block .top_block__slogon--1 {
    margin-top: 38px; }

  /* line 317, main.scss */
  .top_block .top_block__tel {
    font-size: 2.6em;
    text-align: right;
    margin-top: 25px; }

  /* line 323, main.scss */
  .top_block .top_block__vamperez {
    margin-top: -5px;
    font-size: 1.8em;
    text-align: right; } }
@media only screen and (max-width: 767px) {
  /* line 331, main.scss */
  .top_block .top_block__logo img {
    width: 45%; }

  /* line 335, main.scss */
  .top_block .top_block__slogon {
    font-size: 1.9em;
    text-align: center; }

  /* line 340, main.scss */
  .top_block .top_block__slogon--1 {
    margin-top: 5px; }

  /* line 344, main.scss */
  .top_block .top_block__tel {
    font-size: 2.6em;
    text-align: center;
    margin-top: 10px; }

  /* line 350, main.scss */
  .top_block .top_block__vamperez {
    margin-top: -5px;
    font-size: 1.8em;
    text-align: center; } }
@media only screen and (max-width: 480px) {
  /* line 358, main.scss */
  .top_block .top_block__logo img {
    width: 60%; }

  /* line 362, main.scss */
  .top_block .top_block__slogon {
    font-size: 1.6em;
    text-align: center; }

  /* line 367, main.scss */
  .top_block .top_block__slogon--1 {
    margin-top: 20px; }

  /* line 371, main.scss */
  .top_block .top_block__tel {
    font-size: 2.6em;
    text-align: center;
    margin-top: 10px; }

  /* line 377, main.scss */
  .top_block .top_block__vamperez {
    margin-top: -5px;
    font-size: 1.8em;
    text-align: center; } }
