

/* Start:/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_zamer/style.css?1448364238623*/
table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_zamer/images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_zamer/images/icon_warn.gif);
}
/* End */


/* Start:/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_kupitdeshevle/style.css?1432237652666*/
table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_kupitdeshevle/images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_kupitdeshevle/images/icon_warn.gif);
}
/* End */


/* Start:/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_happy/style.css?1444227170623*/
table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_happy/images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_happy/images/icon_warn.gif);
}
/* End */


/* Start:/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_gift/style.css?1444399195623*/
table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_gift/images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(/bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_gift/images/icon_warn.gif);
}
/* End */
/* /bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_zamer/style.css?1448364238623 */
/* /bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_kupitdeshevle/style.css?1432237652666 */
/* /bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_happy/style.css?1444227170623 */
/* /bitrix/templates/.default/components/okna_components_mobile/form.result.modal/template_gift/style.css?1444399195623 */
